<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Home</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <!-- bootstrap theme -->
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css" th:href="@{css/bootstrap-theme.css}" />
    <!--external css-->
    <!-- font icon -->
    <link rel="stylesheet" href="../static/css/elegant-icons-style.css" th:href="@{css/elegant-icons-style.css}" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" />
    <link rel="stylesheet" href="../static/css/style-responsive.css" th:href="@{css/style-responsive.css}" />
</head>
<body>
<!--header start-->

<header class="header dark-bg" th:fragment="header" >
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
    </div>

    <!--logo start-->
    <a href="/" class="logo">AFOIH <span class="lite">BANK</span></a>
    <!--logo end-->


    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">

                            </span>
                    <span class="parametres">Profile</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li class="eborder-top">
                        <a href="/profile"><i class="icon_profile"></i> Mon Profile</a>
                    </li>
                    <li>
                        <a th:href="@{/logout}"><i class="icon_key_alt"></i> Se déconnecter</a>
                    </li>

                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</header>
<!--header end-->

<!-- javascripts -->
<script   th:src="@{js/jquery.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<!-- nice scroll -->
<script  th:src="@{js/jquery.scrollTo.min.js}"></script>
<script th:src="@{js/jquery.nicescroll.js}"></script>
<!--custome script for all page-->
<script  th:src="@{js/scripts.js}"></script>


</body>
</html>