<div class="app">
    <div class="top">
    </div>
   
    </div>
   <!--<div class="card contentPass" style="margin-left: 30%;">
        <div class="card__container">
            <h1 class="card__header">
            Changer votre mot de passe
          </h1>
          <form #form="ngForm"  novalidate>
              <input  name="password"
               class="input" type="text" [(ngModel)]="client.password" #pass='ngModel'  placeholder="entrer votre nouveau password" required>
              <br> <small class="text-danger " [class.d-none]="pass.valid || pass.untouched">Ce champs est obligatoire</small>
              <br>
              <input  name="confirmPass"
              class="input" type="text" [(ngModel)]="confirmPass" #passConfirm='ngModel'  placeholder="confirmer votre  password" required>
             <br> <small class="text-danger " [class.d-none]="passConfirm.valid || passConfirm.untouched">Ce champs est obligatoire</small>
        
              <button type="submit"  [disabled]="!form.valid"  class="submit">Valider</button>
              <button type="submit"  >Annuler</button>
          </form>
        </div>-->
        <div class="container">
          <div class="card contentPass" style="margin-left: 10%;">
            <div class="container">
            <h1>Changer votre mot de passe</h1>
            <br>
            <form #form="ngForm"  novalidate>
                <input  name="password"
                 class="input" type="password" [(ngModel)]="nouveauPass" #pass='ngModel'  placeholder="entrer votre nouveau password" required>
                <br> <small class="text-danger " [class.d-none]="pass.valid || pass.untouched">Ce champs est obligatoire</small>
                <br>
                <input  name="confirmPass"
                class="input" type="password" [(ngModel)]="confirmPass" #passConfirm='ngModel'pattern="{{nouveauPass}}"  placeholder="confirmer votre  password" required>
               <br> <div *ngIf="passConfirm.errors && passConfirm.touched">
                <small class="text-danger" *ngIf="passConfirm.errors.required">Ce champs est obligatoire</small>
                <small class="text-danger" *ngIf="passConfirm.errors.pattern">Les mots de passe ne sont pas les memes</small>
             </div> 
               <br>

                <button type="submit"  [disabled]="!form.valid" (click)="changerPass()" class="submit">Valider</button>
               
            </form>
          </div>
          </div>
          </div>
    
