
 <div id="body">
    <app-nemu-bar></app-nemu-bar>

    <div class="routeE">
    
       

   <form #f="ngForm" novalidate>
        
        <div class="contact-form">
            <div class="title">Update Client</div>
            <div class="content">
                <div class="row ">
                    <div class="col-lg-6 col-12">
                        <input  type="text" [(ngModel)]="client.nom" name="nom" #name='ngModel' placeholder="Nom" required><br>
                        <small class="text-danger " [class.d-none]="name.valid || name.untouched">Ce champs est obligatoire</small>
                           </div>
                           <div class="col-lg-6 col-12">
                            
                            <input   type="text"  [(ngModel)]="client.prenom" name="prenom" #pre='ngModel' placeholder="Prenom"  required><br>
                             <small class="text-danger " [class.d-none]="pre.valid || pre.untouched">Ce champs est obligatoire</small>
                         
                      </div>
                </div>
                <div class="row ">
                    <div class="col-lg-6 col-12">
                        <input   type="text"  [(ngModel)]="client.cin" name="cin" #ci='ngModel' placeholder="Cin"  required><br>
                        <small class="text-danger " [class.d-none]="ci.valid || ci.untouched">Ce champs est obligatoire</small>
                        </div>
                        <div class="col-lg-6 col-12 ">
                            <input   [(ngModel)]="client.username" name="email" type="email" #em='ngModel' placeholder="Email"  required><br>
                               <small class="text-danger " [class.d-none]="em.valid || em.untouched">Ce champs est obligatoire</small>
                            </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-6 col-12 ">
                        <input  type="text" (keypress)="numericOnly($event)"   [(ngModel)]="client.numTel" name="numTel" #num='ngModel' placeholder="Telephone"  required><br>
                       <small class="text-danger " [class.d-none]="! num.errors?.required || num.untouched">Ce champs est obligatoire</small>
                    </div> 
                    <div class="col-lg-6 col-12">
                        <input style="margin-left:-20%" type="radio" value="homme" name="sexe" [(ngModel)]="client.sexe" #type='ngModel' required >Homme
                        <input style="margin-left:-20%" type="radio" value="femme" name="sexe" [(ngModel)]="client.sexe" #type='ngModel'  required> Femme 
                     <small class="text-danger" [class.d-none]="type.valid || type.untouched">Ce champs est obligatoire</small>
                      
                     </div>
                 </div>
            
                
            <div class="row" >
                <div class="col-lg-3 col-12">
                   
               </div>
              
               <div class="col-lg-6 col-12">
               <button [disabled]="!f.valid"  (click)="updateClient()" style="float: right; margin-top: 8%;" type="submit" class="submit">Save</button> 
               </div>
            </div>
           
           
           
        </div>
           
       
    </div>
 
</form>

</div>

    
