
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.contact-form{
    
    
    background: rgba(255,255,255,0.5);
    
    border-radius:5px;
    width: 60%;
    height: 70%;
    
    box-shadow:0px 5px 10px 0px rgba(0,47,104,0.4);
    
    margin: 100px auto;
    padding: 25px 0;
   
    box-shadow:0px 5px 10px 0px rgba(0,47,104,0.4);
   
   
}



.content{
    margin-top: 1em;

}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }

.title{
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    color: #042331;
    text-align: center;
    margin-top: 2%;

}

input{
    margin: 10px 0;
    background:transparent;
    border:0;
    border-bottom: 2px solid #042331;
    padding: 5px;
    color:gray;
    width: 70%;
    margin-left: 20px;
}


::-webkit-input-placeholder{
    color: gray;
}

::-moz-input-placeholder{
    color: gray;
}

::-ms-input-placeholder{
    color: gray;
}

.btn{
    background: #4babc0;
    border-radius: 15px;
    margin-left: 450px;
    color: white;
}

.btn:hover{
    background:#4babc0;
    transform: scale(1.05);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.routeE{
  
    position: absolute;
    top: 2%;
    left: 20%;
    width: 80%;
    /*height: 100vh;*/
    
  }
