<app-nemu-bar></app-nemu-bar>
<br>
    <div class="card" style="margin-left: 30%;">
      <div class="card__container">
          <h1 class="card__header">
         Virement
        </h1>
        <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate> 
            
            <input [(ngModel)]="newOperation.compteDestination.rib" name="compteDestination"
             class="input" type="text" #ver='ngModel' placeholder="Compte Destination (RIB / CIN)" required>
             <br> <small class="text-danger" [class.d-none]="ver.valid || ver.untouched">Ce champs est obligatoire</small>

             <input  name="montant"
             class="input" type="number" [(ngModel)]="newOperation.montant" #mont='ngModel'   pattern="[1-9][0-9]{2,4}" placeholder="Montant" required>
            <br> 
            <div *ngIf="mont.errors && mont.touched">
              <small class="text-danger" *ngIf="mont.errors.required">Ce champs est obligatoire</small>
              <small class="text-danger" *ngIf="mont.errors.pattern">Vous pouvez verser de 100 a 10000 DH</small>
           </div>
            <br> 
            <button type="submit"  [disabled]="!form.valid" class="submit">Valider</button>
    
           
        </form>   
      </div>
    </div>
    



