
<app-nemu-bar></app-nemu-bar>
<br>

<!--<div class="container">

      <div class="row">
        <div class="col-lg-6 col-12 ">
     
            <div class="card__container">
                <h4 >
                  Bienvenue Mr/Ms {{client.prenom}} {{client.prenom}}
              </h4>
            
        
        </div>   
        </div>
        <div class="col-lg-6 col-12">
      
      <div class="card">
        <div class="card__container">
            <h1 class="card__header">
              Contactez nous :
          </h1>
          <p class="card__body">
           Email :afoihebank@gmail.com<br>
           
          </p>  
        </div>
      </div>
    </div>
    </div>-->
    <div class="container">
      <h4 >
        Bienvenue Mr/Ms {{client.prenom}} {{client.prenom}}
    </h4>   

</div>
<div class="container">
<div class="row">	
<div class="col-md-4 text-center" style="opacity: 1;">
<div class="content-box">
<img alt="Real-time information" title="Real-time information" class="finbyz-icon img-responsive" src="../assets/images/clocck.jpg">
<h4 class="content-box-title">Gain de temps</h4>
<p class="content-box-sub"> effectuez vos virement en une fracture de seconde dans une securité total !</p>
</div>
</div>
<div class="col-md-4" style="opacity: 1;">
<div class="content-box text-center">
<img alt="Higher Productivity" title="Higher Productivity" class="finbyz-icon img-responsive" src="../assets/images/seee.jpg">
<h4 class="content-box-title">Securité</h4>
<p class="content-box-sub">Gérez vos comptes à distance et en toute sérénité !</p>
</div>
</div>
<div class="col-md-4" style="opacity: 1;">
<div class="content-box text-center">
<img alt="Improved Collaboration" title="Improved Collaboration" class="finbyz-icon img-responsive" src="../assets/images/confort.jpg">
<h4 class="content-box-title">Gagner votre confort</h4>
<p class="content-box-sub">Un accès permanent aux comptes 24h/24 et 7j/7  là où vous êtes!</p>
</div>
</div>
</div>
</div>
 
  