<div id="body">
    <app-nemu-bar></app-nemu-bar>

    <div class="route">
   
     
        <div class="card member-box shadow-lg">
          <span class="shape"></span>
          <img class="card-img-top" src="assets/images/user.png" alt="">
          <div class="card-body" >
            <span class="member-degignation">Bienvenue Monsieur/Madame</span>
            <h4 style="margin-left:170px ;">{{_agent.nom}} {{_agent.prenom}}</h4>
            <small style="margin-left:170px ;"><strong>EMAIL: </strong>{{_agent.username}}</small> <br>
            <small style="margin-left:170px ;"><strong>CIN: </strong> {{_agent.cin}}</small>
          
          </div>
         
          </div>
       
</div>
</div>
