
<app-nemu-bar></app-nemu-bar>
<div class="container">
    <input type="search" (keyup)="keyBoardEvent($event)" placeholder="search ... " [(ngModel)]="motCle">
    <div id="data" class="table-responsive">
        <table class="table">
            <thead>
            <tr>
              
                <th>Date d'operation</th>
                <th>Type operation</th>
                <th>Compte destination</th>
                <th>Compte source</th>
                <th>Montant</th>
              
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of pageOperation">
                    <td>{{o.dateOperation|date:'MM/dd/yyyy'}}</td>
                    <td>{{o.typeOperation}}</td>
                  
                    <td *ngIf="o.compteDestination!=null else elseTag">
                        {{o?.compteDestination?.rib}}</td>
                        <ng-template #elseTag><td>-</td></ng-template>
                    <td *ngIf="o.compteSource!=null else elseTag">
                            {{o?.compteSource?.rib}}</td>
                            <ng-template #elseTag><td>-</td></ng-template>
                    <td>{{o.montant | number: '.2'}} MAD</td>
                   
                   
                </tr>
           
            </tbody>
        </table>
    </div>
    
    </div>